{% extends "base.html" %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Your Wishlist</h1>
    <div class="row">
        {% for item in wishlist_items %}
            <div class="col-md-3 mb-4">
                <div class="card wishlist-product">
                    {% if item.image %}
                    <a href="{% url 'product_detail' item.id %}">
                        <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' item.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                            alt="{{ item.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">Price: ${{ item.price }}</p>
                        <p class="card-text">Category: {{ item.category }}</p>
                        <div>
                            <a href="{% url 'product_detail' item.id %}" class="btn btn-black btn-sm rounded-0 text-uppercase mt-5">View Product</a>
                            <a href="{% url 'wishlist:remove_from_wishlist' item.id %}" class="btn btn-danger btn-sm rounded-0 text-uppercase mt-5">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
